body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header,
.footer {
    background-color: #1F2937;
    padding: 0 200px;
}

.part-one,
.part-two,
.part-three {
    padding: 0 200px;
}

.body .part-two {
    background-color: #E5E7EB;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
}

.hero-secondary,
.links a {
    font-size: 18px;
    color: #E5E7EB
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 22px;
}

a {
    text-decoration: none;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 45px 0;
}

.sign-up,
.banner {
    background-color: #3882F6
}

.header .upper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.header .lower {
    margin: 130px 0;
    display: flex;
    gap: 32px;
}

.header .lower .right {
    flex: 1;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .lower .right p {
    color: #fff;
    font-size: 16px;
}

.header .lower .left {
    flex: 1;
}

.sign-up {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 32px;
    border-radius: 6px;
    border: none;
}

.button-border {
    border: 2px solid #fff;
}

.part-one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 60px;
}

.card {
    width: 150px;
}

.card .frame {
    border: 4px solid #3882F6;
    border-radius: 12px;
    width: 150px;
    height: 150px;
}

.card p {
    text-align: center;
}

.part-two {
    padding-top: 80px;
    padding-bottom: 80px;
}

.quote-author {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}

.part-two p,
.banner .left p  {
    margin: 0;
}

.part-three {
    padding-top: 80px;
    padding-bottom: 80px;
}

.banner {
    border-radius: 16px;
    padding: 50px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner p {
    color: #fff;
}
.banner .left :first-child {
    font-weight: bold;
    font-size: 24px;
}

.footer p {
    font-size: 16px;
    color: #fff;
    text-align: center;
}